/src/lex/states.rs
/target
Cargo.lock
/ExportScripts
/ConfigExportEnum
*.xlsx
/xlsxs
/ConfigRefNameMapping
*.exe
*.bin
/ServerConfig*
/ServerExport*
build*.sh
run.sh
/Data
ConfigCollection.cs
output.cs
src/.vs/